/* Bindings for Web Forms 2,0 */
datalist {display: none;}
input[type=number] {-moz-construct-using-display: 1; -moz-binding: url(wf2-gui.xml#number);}
input[type=date] {-moz-construct-using-display: 1; -moz-binding: url(wf2-gui.xml#date);}
input[type=time] {-moz-construct-using-display: 1; -moz-binding: url(wf2-gui.xml#time);}
input[type=week] {-moz-construct-using-display: 1; -moz-binding: url(wf2-gui.xml#week);}
input[type=range] {-moz-construct-using-display: 1; -moz-binding: url(wf2-gui.xml#range);}
