html, body { background-color: #D4CFF0;}
#viewer { height: 100%; /*IE needs this*/  }
body {
	margin: 32px 10px 10px 10px;
}
h1.title { 
	position: absolute;
	top: 0px; left: 10px; right: 10px;
	color: slateblue;
	font:  bold 24px/100% "Bradley Hand ITC TT-Bold", "Bradley Hand ITC", "Comic Sans MS", cursive;
	margin: 5px 10px 0 10px;
}
h1.title span { float: right; line-height:70%; }
h1.title { clear: right;}
form { display: inline;}
.viewbox {
	border: 1px solid #939393; 
	margin: 0;
	padding:4px;
	background-color: white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* workaround for IE: .vertical.viewbox doesn't word */
.vertical .viewbox { 
	height: 100%; 
	float:left; 
}
.horizontal .viewbox {
	width: 100%;
}
.vertical .w25 { width: 19.5%;}
.vertical .w50 { width: 49.5%;}
.vertical .w75 { width: 79.5%;}
.vertical .last { margin-left: 1%; }
.horizontal .w25 { height: 14.5%;}
.horizontal .w50 { height: 49.5%;}
.horizontal .w75 { height: 84.5%;}
.horizontal .last { margin-top: 0.5%; }
#output_wysiwyg { overflow: auto; }
h1.title label { font: 12px sans-serif;}