<?xml version="1.0" encoding="utf-8"?>
<package name="DOM/selectors-api" publish="false" closure="false">
  <include src="header.js"/>
  <include src="StaticNodeList.js"/>
  <include src="NodeSelector.js"/>
  <include src="CSSParser.js"/>
  <include src="XPathParser.js"/>
  <include src="Selector.js"/>
  <include src="_parser.js"/>
  <include src="implementations.js"/>
</package>
